plot1{
    font-family: Rubik;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    margin-top: 6em;
    padding-top: 4em;
    background: linear-gradient(180deg, #F6F5F5 -45.04%, #FFFFFF 19.67%, #F4F3F3 88.56%);
    padding-bottom: 8em;
}


maintext {
    margin-left: 200px;
    flex-direction: row;
    max-width:400px;
}


plot1 ul {
    list-style: none;
}

plot1 li {
    background: url(../images/CheckVector.svg) no-repeat 0 4px;
    padding-left: 24px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 30px;
}